{%  extends "base.html" %}
{% load static %}

{% block page-header %}
    <!-- <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div> -->
{% endblock %}

{% block content%}
    <main>
        <div id="myCarousel" class="carousel slide h-100" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
        <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="first-slide" src="media/carousel-grapes.jpg" alt="First slide"/>
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>Discover the best of British Wine</h1>
                    <p>
                        Fast delivery, free gift messaging and tasting notes included.
                    </p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="{% url 'products' %}" role="button">Shop Now</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="second-slide" src="media/carousel-cellar.jpg" alt="Second slide"/>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Free Delivery</h1>
                    <p> 
                        Free delivery on all orders over £100.
                    </p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="third-slide" src="media/carousel-vineyard.jpg" alt="Third slide"/>
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>Carefully selected</h1>
                    <p> 
                        We carefully select from small and medium vineyards to bring you the highest quality.
                    </p>
                    <p>
                        <a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a>
                    </p>
                </div>
            </div>
        </div>
        </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    <div class="container marketing">

        <hr class="featurette-divider" />

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">First featurette heading.
                    <span class="text-muted">It'll blow your mind.</span>
                </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
                ligula porta felis euismod semper. Praesent commodo cursus magna,
                vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="{{ MEDIA_URL }}marketing-1.jpg" alt="Generic placeholder image"/>
            </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Oh yeah, it's that good.
                    <span class="text-muted">See for yourself.</span>
                </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
                ligula porta felis euismod semper. Praesent commodo cursus magna,
                vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.
                </p>
          </div>
          <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" src="{{ MEDIA_URL }}marketing-2.jpg" alt="Generic placeholder image"/>
          </div>
        </div>

        <hr class="featurette-divider" />

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading"> And lastly, this one. 
                    <span class="text-muted">Checkmate.</span>
                </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id
                ligula porta felis euismod semper. Praesent commodo cursus magna,
                vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
                commodo.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" src="{{ MEDIA_URL }}marketing-3.jpg" alt="Generic placeholder image"/>
            </div>
        </div>

        <hr class="featurette-divider" />

        <!-- /END THE FEATURETTES -->
    </div>
      <!-- /.container -->

      <!-- FOOTER -->
        <footer class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p> &copy; 2017-2018 Company, Inc. &middot;
                <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
            </p>
        </footer>
    </main>
{% endblock %}


