html {
    height: 100%;
}

body {
    color: black;
    font-family: 'Nunito', sans-serif;
    height: calc(100vh - 164px);
}

.header-container {
    padding-top: 164px;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
}