<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="wine-type-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SHOP BY WINE TYPE
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">Red</a>
                <a href="" class="dropdown-item ">White</a>
                <a href="" class="dropdown-item ">Sparkling</a>
                <a href="" class="dropdown-item ">Rose</a>
                <a href="" class="dropdown-item ">Organic</a>
                <a href="" class="dropdown-item ">Vegan-friendly</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="region-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SHOP BY REGION
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">East England</a>
                <a href="" class="dropdown-item">Midlands</a>
                <a href="" class="dropdown-item">South England</a>
                <a href="" class="dropdown-item">West England</a>
                <a href="" class="dropdown-item">Wales</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="vineyard-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SHOP BY VINEYARD
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="" class="dropdown-item">Albury Organic Vineyard</a>
                <a href="" class="dropdown-item">Beacon Down</a>
                <a href="" class="dropdown-item">Bolney Estate</a>
                <a href="" class="dropdown-item">Carr Taylor</a>
                <a href="" class="dropdown-item">Chilford Hall</a>
                <a href="" class="dropdown-item">Fox &amp; Fox</a>
                <a href="" class="dropdown-item">Grey Friars Vineyard</a>
                <a href="" class="dropdown-item">Gwinllan Conwy</a>
                <a href="" class="dropdown-item">Hidden Spring</a>
                <a href="" class="dropdown-item">Litmus Wine</a>
                <a href="" class="dropdown-item">Lowick Vineyard</a>
                <a href="" class="dropdown-item">Montgomery</a>
                <a href="" class="dropdown-item">Sixteen Ridges Vineyard</a>
                <a href="" class="dropdown-item">Welcombe Hills Vineyard</a>
                <a href="" class="dropdown-item">Whitehall</a>
                <a href="" class="dropdown-item">Winibirri</a>
                <a href="" class="dropdown-item">Wiston Estate</a>
            </div>
        </li>

        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="pre-mix-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                PRE-MIXED CASES
            </a>
        </li>
        
        <li class="nav-item">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="about-us-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ABOUT US
            </a>
        </li>
        
    </ul>
</div>