<div class="collapse navbar-collapse navbar-dark bg-dark" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">

        <li class="nav-item dropdown mega-menu border-0">
            <a class="nav-link mx-3" href="{% url 'products' %}"  id="pre-mix-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ALL WINES
            </a>
            <div class="dropdown-menu dropdown-content shadow p-3 mb-5 bg-white rounded-0 border-0"    
                aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=asc" class="dropdown-item ">By Rating</a>
                <div class="dropdown-divider"></div>
                <a href="{% url 'products' %}" class="dropdown-item ">All Wines</a>
            </div>
        </li> 

        <li class="nav-item dropdown mega-menu">
            <a class="nav-link mx-3" href="#" id="wine-type-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SHOP BY WINE TYPE
            </a>
            <div class="dropdown-menu dropdown-content shadow p-3 mb-5 bg-white rounded-0 border-0"
                aria-labelledby="wine_type-link">
                <div class="row px-3">
                    <h5><strong>Wine Type</strong></h5>
                </div>
                <div class="row">
                    <a href="{% url 'products' %}?wine_type=red" class="dropdown-item">Red</a>
                    <a href="{% url 'products' %}?wine_type=white" class="dropdown-item ">White</a>
                    <a href="{% url 'products' %}?wine_type=sparkling" class="dropdown-item ">Sparkling</a>
                    <a href="{% url 'products' %}?wine_type=rose" class="dropdown-item ">Rosé</a>
                </div>
            </div>
        </li> 

        <li class="nav-item dropdown mega-menu">
            <a class="nav-link text-black mx-3" href="#" id="region-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SHOP BY REGION
            </a>
            <div class="dropdown-menu dropdown-content shadow p-3 mb-5 bg-white rounded-0 border-0" 
                aria-labelledby="region-link">
                <div class="row px-3">
                    <h5><strong>Region</strong></h5>
                </div>
                <div class="row">
                    <a href="{% url 'products' %}?region=east-england" class="dropdown-item">East England</a>
                    <a href="{% url 'products' %}?region=Midlands" class="dropdown-item">Midlands</a>
                    <a href="{% url 'products' %}?region=south-england" class="dropdown-item">South England</a>
                    <a href="{% url 'products' %}?region=west-england" class="dropdown-item">West England</a>
                    <a href="{% url 'products' %}?region=wales" class="dropdown-item">Wales</a>
                </div>
            </div>
        </li>

        <li class="nav-item dropdown mega-menu">
            <a class="drop-btn nav-link text-black mx-3" href="#" id="winery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SHOP BY VINEYARD
            </a>
            <div class="dropdown-menu dropdown-content shadow p-3 bg-white rounded-0 border-0" 
                aria-labelledby="winery-link">
                <div class="row px-3">
                    <h5><strong>Vineyards</strong></h5>
                </div>
                <div class="row mega-menu">
                    <a href="{% url 'products' %}?region=albury-organic-vineyard" class="dropdown-item">Albury Organic  
                        Vineyard</a>
                    <a href="{% url 'products' %}?winery=beacon-down" class="dropdown-item">Beacon Down</a>
                    <a href="{% url 'products' %}?winery=bolney-estate" class="dropdown-item">Bolney Estate</a>
                    <a href="{% url 'products' %}?winery=carr-taylor" class="dropdown-item">Carr Taylor</a>
                    <a href="{% url 'products' %}?winery=chilford-hall" class="dropdown-item">Chilford Hall</a>
                    <a href="{% url 'products' %}?winery=fox-and-fox" class="dropdown-item">Fox &amp; Fox</a>
                    <a href="{% url 'products' %}?winery=grey-friars" class="dropdown-item">Grey Friars Vineyard</a>
                    <a href="{% url 'products' %}?winery=gwinllan-conwy" class="dropdown-item">Gwinllan Conwy</a>
                    <a href="{% url 'products' %}?winery=hidden-spring" class=" dropdown-item">Hidden Spring</a>
                    <a href="{% url 'products' %}?winery=litmus-wine" class="dropdown-item">Litmus Wine</a>
                    <a href="{% url 'products' %}?winery=lowick" class="dropdown-item">Lowick Vineyard</a>
                    <a href="{% url 'products' %}?winery=montgomery" class="dropdown-item">Montgomery</a>
                    <a href="{% url 'products' %}?winery=sixteen-ridges" class="dropdown-item">
                        Sixteen Ridges Vineyard</a>
                    <a href="{% url 'products' %}?winery=welcome-hills" class="dropdown-item">
                        Welcombe Hills Vineyard</a>
                    <a href="{% url 'products' %}?winery=whitehall" class="dropdown-item">Whitehall</a>
                    <a href="{% url 'products' %}?winery=winibirri" class="dropdown-item">Winibirri</a>
                        <a href="{% url 'products' %}?winery=winston-estate" class="dropdown-item">Wiston Estate</a>
                </div>
            </div>
        </li>
        
        <li class="nav-item">
            <a class="nav-link mx-3" href="#" id="about-us-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ABOUT US
            </a>
        </li>
        
    </ul>
</div>